.container{
    float: none;
    margin: auto;
    max-width: 500px;
    border: solid #d5d5d5 1px;
    background: #f9f9f9;
    padding: 1em;
    color: #5d5d5d;  
    display: flex;
    width: fit-content;
    flex-direction: column;
    margin: .5em auto;
    border-radius: 5px;  
    width: 250px;    
}

.container h2 {
    font-weight: 100;
    font-size: 1.4em; 
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container .wheaterExtraInfoCont{
    text-transform: uppercase;
    font-size: .7em;
}
.container .wheaterTemperature{
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .wheaterTemperature .container-temp {
    display: flex;
    align-items: center;

    padding: .1em .2em;
    border-radius: 3px;
    margin-left: 4px;    
}

.container .wheaterTemperature .container-temp i{
    font-size: .5em;
}

.container .wheaterTemperature img {
    position: relative;
    margin: -18px -10px -18px -18px;
}

.container .wheaterTemperature .container-temp .small-title{
    font-size: .3em;
    text-transform: uppercase;
    padding: .2em .3em .1em .3em;
}

